.active {
  color: #ffc600;
  border-bottom: 2px solid #ffc600;
}

.mainTitle {
  margin-right: auto;
  margin-left: 20px;
}

@media screen and (max-width: 400px) {
  .mainSvg {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .mainTitle {
    display: none;
  }
}
