.loginBtn {
  position: relative;
  padding: 14px 20px;
  margin: 20px auto;
  border-radius: 13px;
  color: #000;
  background-color: #ffc600;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
  border: none;
}

.loginBtn:hover {
  background-color: #ffce1d;
}
