.imageContainer {
  margin: 0 auto;
  max-width: 200px;
}

.imageContainer img {
  max-width: 200px;
  width: 100%;
  height: auto;
  font-size: 0;
  border-radius: 10px;
}

.singleBurger {
  max-width: 600px;
  margin: 0 auto;
}
