.loginForm {
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.loginForm label {
  text-align: left;
  font-weight: 500;
}

.loginForm label,
.loginForm input {
  max-width: 400px;
  font-size: 22px;
  display: block;
  width: 100%;
}

.loginForm input,
.loginForm button {
  border: none;
  padding: 14px;
  margin: 10px 0;
  border-radius: 10px;
  background-color: #fff9e2;
}

.loginForm button {
  margin: 0;
  border-radius: 10px;
  background-color: #fff9e2;
}

.formError {
  font-size: 18px;
  color: red;
}

.inputField {
  width: 100%;
}

.fieldError {
  margin: 0;
  color: red;
}
